[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "impute"]
	path = impute
	url = https://git.bioconductor.org/packages/impute
[submodule "locfdr"]
	path = locfdr
	url = https://github.com/cran/locfdr
[submodule "sglr"]
	path = sglr
	url = https://github.com/cran/sglr
[submodule "sp23design"]
	path = sp23design
	url = https://github.com/cran/sp23design
